<html>

<head>
  <!-- Font Awesome -->

  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Book My Turf - Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <script src="js/controller/create.js" type="text/javascript"></script> -->
    <script src="js/core/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        margin: 0;
        padding: 0;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }



      /* Table Styles */

      .table-wrapper {
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
      }

      .fl-table {
        border-radius: 5px;
        font-size: 15px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
      }

      .fl-table td,
      .fl-table th {
        text-align: center;
        padding: 8px;
      }

      .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 15px;
      }

      .fl-table thead th {
        color: #ffffff;
        background: #208090;
      }


      .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #208090;
      }

      .fl-table tr:nth-child(even) {
        background: #F8F8F8;
      }

      /* Responsive */

      @media (max-width: 767px) {
        .fl-table {
          display: block;
          width: 100%;
        }

        .table-wrapper:before {
          content: "Scroll horizontally >";
          display: block;
          text-align: right;
          font-size: 11px;
          color: white;
          padding: 0 0 10px;
        }

        .fl-table thead,
        .fl-table tbody,
        .fl-table thead th {
          display: block;
        }

        .fl-table thead th:last-child {
          border-bottom: none;
        }

        .fl-table thead {
          float: left;
        }

        .fl-table tbody {
          width: auto;
          position: relative;
          overflow-x: auto;
        }

        .fl-table td,
        .fl-table th {
          padding: 20px .625em .625em .625em;
          height: 60px;
          vertical-align: middle;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;
          width: 120px;
          font-size: 13px;
          text-overflow: ellipsis;
        }

        .fl-table thead th {
          text-align: left;
          border-bottom: 1px solid #f7f7f9;
        }

        .fl-table tbody tr {
          display: table-cell;
        }

        .fl-table tbody tr:nth-child(odd) {
          background: none;
        }

        .fl-table tr:nth-child(even) {
          background: transparent;
        }

        .fl-table tr td:nth-child(odd) {
          background: #F8F8F8;
          border-right: 1px solid #E6E4E4;
        }

        .fl-table tr td:nth-child(even) {
          border-right: 1px solid #E6E4E4;
        }

        .fl-table tbody td {
          display: block;
          text-align: center;
        }
      }
    </style>
    <script>
      let marker;
      var geocoder;

      var updatedLatLng;
      function initMap() {
        //geocoder = new google.maps.Geocoder();
        let lat = '<%- Number(turf.location[0]) %>';
        let long = '<%= Number(turf.location[1]) %>';
        const myLatlng = { lat: Number(lat), lng: Number(long) };
        $("#maplocation").val(`(${myLatlng.lat},${myLatlng.lng})`);
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: myLatlng,
        });
        // Create the initial InfoWindow.


        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
          marker.position = mapsMouseEvent.latLng;
        });
        const shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: "poly",
        };
        marker = new google.maps.Marker({
          position: myLatlng,
          icon: "images/marker-bmt.png",

          draggable: true,
          animation: google.maps.Animation.DROP,
          map: map,

        });
        marker.addListener("click", toggleBounce);
        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }
        google.maps.event.addListener(marker, 'dragend', function () {
          //geocodePosition(marker.getPosition());
          updatedLatLng = marker.getPosition();
          $("#maplocation").val(updatedLatLng);

        });
      }
      function geocodePosition(pos) {
        geocoder.geocode({
          latLng: pos
        }, function (responses) {
          if (responses && responses.length > 0) {
            //updateMarkerAddress(responses[0].formatted_address);
            alert(responses[0].formatted_address);
          } else {
            alert('Cannot determine address at this location.');
          }
        });
      }

    </script>
  </head>


  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="javascript:;">Book My Turf</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="active nav-item"><a href="javascript:;" class="nav-link">Link</a></li>
            <li class="nav-item"><a href="javascript:;" class="nav-link">Link</a></li>
            <li class="dropdown nav-item">
              <a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown">Dropdown</a>
              <div class="dropdown-menu">
                <h6 class="dropdown-header">Dropdown header</h6>
                <a href="javascript:;" class="dropdown-item">Action</a>
                <a href="javascript:;" class="dropdown-item">Another action</a>
                <a href="javascript:;" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:;" class="dropdown-item">Separated link</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:;" class="dropdown-item">One more separated link</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

<body>
  <div class="container">

    <form id="imageForm" method="post" class="container  mt-5 card">
      <div class="row m-2">
        <div class="col-md-2">
          <label class="form-check-label text-primary font-weight-bold my-3">
            Photo Gallery
          </label>
        </div>
      </div>

      <div class="row m-2">
        <div class="col-md-4">
          <label for="image">You can upload upto 10 images at a time </label>

          <input type="file" id="image" value="uploading_img" accept="image/*" name="image" placeholder="Upload Images"
            multiple>
        </div>
        <div class="col-md-8 card p-3">

          <div id="primary-slider" class="splide">
            <div class="splide__track">
              <ul class="splide__list uploadSection">

              </ul>
            </div>
          </div>
          <div id="secondary-slider" class="splide">
            <div class="splide__track">
              <ul class="splide__list uploadSection2">
              </ul>
            </div>
          </div>

        </div>
      </div>


      <div class="row m-2">
        <div class="col-md-4">
          <button id="submit2" type="submit" class="btn btn-primary btn-round">
            <i class="material-icons">file_upload</i>Upload
          </button>
        </div>
      </div>
    </form>

    <form id="mainForm" method="POST" action="../turf/update" class="container  mt-5 card ">
      <div class="row m-2">

        <div class="col-md-4 ">
          <!-- Checked checkbox -->
          <div class="form-check ">
            <p>
            <div class="togglebutton">
              <label>
                <input name="status" type="checkbox" <%=turf.status?`checked`:0 %> >
                <span class="toggle"></span>
                Available for Booking
              </label>
            </div>
            </p>
          </div>
          <label class="form-check-label text-primary font-weight-bold mt-3">
            Arena Details
          </label>
          <div class="form-group">
            <label for="exampleInput1" id="nameinp" class="bmd-label-floating">Name</label>
            <input required name="name" type="text" value='<%= turf.name %>' class="form-control">
            <span class="bmd-help">Name of Sports Arena</span>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col-12  col-md-2">
          <div class="form-group">
            <label for="exampleInput1" class="bmd-label-floating">Official Website</label>
            <input required name="website" type="text" value='<%= turf.website %>' class="form-control">
            <span class="bmd-help"></span>
          </div>
        </div>

        <div class="col-12  col-md-2 mt-3 mt-md-0">
          <div class="form-group">
            <label for="exampleInput1" class="bmd-label-floating">Mobile number</label>
            <input required name="mobile" type="number" maxlength="10" value='<%= Number(turf.mobile) %>'
              class="form-control">
            <span class="bmd-help">Primary Contact Number</span>
          </div>
        </div>
      </div>

      <div class="row m-2">

        <div class="col-md-8">
          <label class="form-check-label text-primary font-weight-bold mt-3 ">
            Location
          </label>
          <p>Drag Marker to set Arena Location</p>
          <div class="card">
            <div id="map"></div>
            <input required id="maplocation" name="location" type="hidden" value="">
            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVSaMvvg1hNEYUsvaq9eMFgBfgx8BnII&callback=initMap&libraries=&v=weekly"
              async></script>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->

          </div>

          <!-- Async script executes immediately and must be after any DOM elements used in callback. -->

        </div>

        <div class="col-md-4 col-12">
          <label class="form-check-label text-primary font-weight-bold mt-3 ">
            Address
          </label>
          <div class="row    ">
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInput1" class="bmd-label-floating">Address Line 1</label>
                <input required name="address1" type="text" value="<%= turf.address1 %>" class="form-control">
                <span class="bmd-help">We'll never share your email with anyone else.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3  ">
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInput1" class="bmd-label-floating">Address Line 2</label>
                <input required name="address2" type="text" value="<%= turf.address2 %>" class="form-control">
                <span class="bmd-help">We'll never share your email with anyone else.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3  ">
            <div class="col-8">
              <div class="form-group">
                <label for="exampleInput1" class="bmd-label-floating">City</label>
                <input required name="city" type="text" value="<%= turf.city %>" class="form-control">
                <span class="bmd-help">We'll never share your email with anyone else.</span>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInput1" class="bmd-label-floating">Pincode</label>
                <input required name="pincode" type="number" maxlength="6" value="<%= Number(turf.pincode) %>" class="form-control">
                <span class="bmd-help"></span>
              </div>
            </div>
          </div>
          <div class="row mt-3  ">
            <div class="col-12">
              <div class="dropdown pb-1">
                <select required name="state" class="form-select" aria-label="Default select example">
                  <option value="<%= turf.state %>" selected><%= turf.state %></option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Puducherry">Puducherry</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu">Jammu</option>
                  <option value="Kashmir">Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col-12">
          <label class="form-check-label text-primary font-weight-bold mt-3">
            Sports
          </label>
          <!-- he bagh apan ikde ek id lavu shakto Sports sathi 
            and aplyala sagle khali fetch karta yeil like dynamically vegla
            -->
          <div class="row m-2 mt-3" id="sportsSection">
            <% let sports=turf.sports; for(var i=0; i < sports.length; i++) {%>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="sports_<%= sports[i].name %>" class="form-check-input" type="hidden" value="false">
                  <input name="sports_<%= sports[i].name %>" class="form-check-input" <%= sports[i].value?`checked`:0 %>  type="checkbox" <%= sports[i].value?'value="true"':0 %> >
                  <%= sports[i].name %> 
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <%} %>
          </div>
        </div>

      </div>

      <div class="row m-2">
        <div class="col-12">

          <div class="row">
            <div class="col-2">
              <label class="form-check-label text-primary font-weight-bold my-3">
                Features
              </label>
            </div>

            <div class="col-m-2">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+ Add
                Features</button>
            </div>
          </div>

          <div id="featuresSection" class="row mt-3 m-2">
            <% let features=turf.features; for(var i=0; i < features.length; i++) {%>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input name="features_<%= features[i].name %>" class="form-check-input" type="hidden" value="false">
                  <input name="features_<%= features[i].name %>" class="form-check-input" <%= features[i].value?`checked`:0 %>  type="checkbox" <%= features[i].value?'value="true"':0 %> >
                  <%= features[i].name %> 
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <%} %>
          </div>
        </div>

      </div>

      <hr>

      <div class="row m-2  ">

        <div class="col-md-3">
          <label class="form-check-label text-primary font-weight-bold">
            Operating Hours
          </label>
          <!-- input with datetimepicker -->
          <div class="form-group pb-1">
            <select id="operatinghours" name="operatinghours" class="form-select" required aria-label="Default select example">
              <option disabled selected>Select operating hours</option>
              <option value="8 to 20">8:00 to 20:00</option>
              <option value="9 to 21">9:00 to 21:00</option>
              <option value="10 to 22">10:00 to 22:00</option>
              <option value="11 to 23">11:00 to 23:00</option>
               
            </select>
          </div>
        </div>

      </div>

      <div class="row mt-3  m-2">
        <div class="col-4 col-md-3">
          <label class="form-check-label text-primary font-weight-bold my-3">
            Slots
          </label>
          <div class="dropdown pb-1">
            <select required id="slots" name="slots" class="form-select" aria-label="Default select example">
              <option disabled selected>Select slot type</option>
              <option value="1">1 Hour Slots</option>
              <option value="2">2 Hour Slots</option>
            </select>
          </div>
        </div>
        <div class="col-md-8 ">
          <h6 class="text-primary my-3">Bookable slots for each type</h6>
          <ul id="bookableHours"><%= turf.operatinghours.hours %> 
            <% let operatinghours=turf.operatinghours[0].hours; for(var i=0; i < operatinghours.length; i++) {%>
              <li>
                <%= operatinghours[i] %>
              </li>
              <%} %>
          </ul>
        </div>

      </div>

      <hr>

      <div class="row m-2">

        <div class="col-md-12">
          <div class="row ">
            <div class="col-md-2">
              <label class="form-check-label text-primary font-weight-bold my-3">
                Bookable Types
              </label>
            </div>

            <div class="col-md-2">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+ Add
                Type</button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-12">
              <div class="table-wrapper">
                <table class="fl-table    ">
                  <thead class="px-3">
                    <tr>
                      <th class="">Turf Type</th>
                      <th>Area</th>
                      <th>Rates</th>
                      <th class=" ">Action</th>
                    </tr>
                  </thead>
                  <tbody class="px-3" id="tbody">
                    <% let turftype=turf.turftype; 
                    for(var i=0; i < turftype.length; i++) { 
                      let func=`remove(type_${turftype[i].name}row)`;
                      %>
                      <tr id="type_<%= turftype[i].name %>row">
                        <td id="type_<%= turftype[i].name %>">
                          <%= turftype[i].name %>
                        </td>
                        <input name="type_<%= turftype[i].name %>" class="form-check-input" type="hidden" value="<%= turftype[i].name %>">
                    
                        <td id="area_<%= turftype[i].name %>">12121</td>
                        <input name="area_<%= turftype[i].name %>" class="form-check-input" type="hidden"
                          value="<%= Number(turftype[i].area) %> ">
                    
                        <td id="rate_<%= turftype[i].name %>">121</td>
                        <input name="rate_<%= turftype[i].name %>" class="form-check-input" type="hidden" value="<%= turftype[i].rate %> ">
                    
                        <td class=" "><a name="type_<%= turftype[i].name %>row" class="delete" onclick=<%=func%> ><i
                              class="fa fa-trash text-danger"></i></a></td>
                      </tr>
                      <%} %>
                  <tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <input id="imagefield" name="image" class="form-check-input" type="hidden" value="">
        <input id="email" name="email" class="form-check-input" type="hidden" value='<%=turf.email%>' >
      </div>
      <button id="submit" type="submit" class="btn btn-primary">Publish</button>
      <button class="btn btn-danger btn-link">Cancel</button>
    </form>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Turf Type</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3 ">
          <div class="form-group">
            <label for="exampleInput1" class="bmd-label-floating">Turf Name</label>
            <input id="typeName" type="text" class="form-control">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
              </div>

              <div class="row ">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInput1" class="bmd-label-floating">Turf Area</label>
                    <input type="number" id="area" class="form-control">
                    <span class="bmd-help"></span>
                  </div>
                </div>

                <div class="col-md-4">
                  <h6 class="text-primary mt-5">Sq.Metres</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">payments</i>
                        </span>
                      </div>
                      <input type="text" id="rate" class="form-control" placeholder="Rate in Rupees">
                    </div>
                  </div>
                </div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="addType" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
  </div>

  <!-- Classic Modal -->
  <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link btn-danger">Yes</button>
          <button type="button" class="btn   btn-link" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Classic Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
            Pointing has no control about the blind texts it is an almost unorthographic life One day however a small
            line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link">Nice Button</button>
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
</body>



</body>
<footer>
  <!--   Core JS Files   -->
  <!-- <script src="js/controller/create.js" type="text/javascript"></script> -->
  <script src="js/core/jquery.min.js" type="text/javascript"></script>
  <script src="js/core/popper.min.js" type="text/javascript"></script>
  <script src="js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="js/material-kit.js?v=2.0.7" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

  <script>
    $("#image").on("change", function () {
      if ($("#image")[0].files.length > 10) {
        alert("You can select only 10 images");
      }
    });

    $(document).ready(function () {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      //materialKit.initSliders();

      // jQuery button click event to add a row.
      $('#addType').on('click', function () {

        var typeName = $('#typeName').val()
        var typeArea = $('#area').val()
        var typeRate = $('#rate').val()
        // Adding a row inside the tbody.
        $('#tbody').append(`<tr id="type_` + typeName + `row"> 
          <td id="type_`+ typeName + `">` + typeName + `</td>
          <input name="type_`+ typeName + `" class="form-check-input" type="hidden" value="` + typeName + `">
 
          <td id="area_`+ typeName + `">` + typeArea + `</td>
          <input name="area_`+ typeName + `" class="form-check-input" type="hidden" value="` + typeArea + `">

          <td id="rate_`+ typeName + `"  >` + typeRate + `</td>
          <input name="rate_`+ typeName + `" class="form-check-input" type="hidden" value="` + typeRate + `">

          <td class=" "><a name="type_`+ typeName + `row"  class="delete" onclick="remove(type_` + typeName + `row)"  ><i class="fa fa-trash text-danger"></i></a></td>
          </tr>`);
      });
      var imagefile = '<%-turf.imagefile%>';
      console.log(imagefile.split(','));
      splideMount(imagefile.split(','));
    });


    function remove(element) {
      // var removeRow =  $(this).attr('name');
      //alert(removeRow);

      $(element).remove();
    }


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }

    let myForm = document.getElementById('imageForm');
    $('#submit2').on('click', function (e) {
      e.preventDefault();
      var fd = new FormData(myForm);
      //fd.append( 'image', input.files[0] );
      console.log(fd);
      $.ajax({
        url: '/turf/upload',
        type: 'POST',
        enctype: "multipart/form-data",
        cache: false,
        processData: false,
        contentType: false,
        data: fd,
        async: false,
        success: function (data) {

          // console.log(data, Array.isArray(data))
          if (Array.isArray(data)) { 
             
            alert("Images Uploaded successfully!");
            splideMount(data);
          }

        }
        , error: function (jqXHR, textStatus, err) {
          alert('text status ' + textStatus + ', err ' + err)
        }

      })

    });
    var primarySlider,secondarySlider;
    function splideMount(data) {
      let old_val = $('#imagefield').val() == "" ? $('#imagefield').val() : $('#imagefield').val()+ ','  ;
        console.log("OLD VALUE:"+old_val);
           $('#imagefield').val((old_val  + data));
            for (var i = 0; i < data.length; i++) {
              let idname = data[i].split('.')[0];
              $(".uploadSection").append(`
              
              <li  class="splide__slide `+idname+`">
                <i class="fa fa-times-circle text-danger m-3" onclick="deleteImage(`+idname+`)" style="font-size:20px;"></i>
              <img id="`+idname+`" src="../images/`+ data[i] + `">
              </li>`
              );

              $(".uploadSection2").append(`
              
              <li  class="splide__slide `+idname+`">
                 
              <img id="`+idname+`" src="../images/`+ data[i] + `">
              </li>`
              );
            }
            secondarySlider = new Splide('#secondary-slider', {
              fixedWidth: 100,
              height: 60,
              gap: 10,
              cover: true,
              isNavigation: false,
              focus: 'center',
              breakpoints: {
                '600': {
                  fixedWidth: 66,
                  height: 40,
                }
              },
            }).mount();

            primarySlider = new Splide('#primary-slider', {
              type: 'fade',
              heightRatio: 0.5,
              pagination: false,
              arrows: false,
              cover: true,
            }); // do not call mount() here.

            primarySlider.sync(secondarySlider).mount();
    }

    function arrayRemove(arr, value) { 
    
    return arr.filter(function(ele){ 
        return ele != value; 
    });
}

// const items = ['a', 'b', 'c', 'd', 'e', 'f']
// const valuesToRemove = ['c', 'd']
// const filteredItems = items.filter(item => !valuesToRemove.includes(item))
    function deleteImage(element)
    {      
     //primarySlider.remove(1);
     //secondarySlider.remove(1);

      $(".is-active ."+element).remove();
      primarySlider.refresh();
      secondarySlider.refresh();
      primarySlider.mount();
      secondarySlider.mount();
      console.log($(`.`+element).attr('tabindex')); 
      let old_val = $('#imagefield').val() == "" ? $('#imagefield').val() : $('#imagefield').val();
      old_val = old_val.split(',');
      console.log(old_val);
      //var result = arrayRemove(old_val, element);
      const items = old_val
      const valuesToRemove = [element+`.jpeg`]
      const filteredItems = items.filter(item => !valuesToRemove.includes(item))
      console.log(filteredItems);
      $('#imagefield').val((filteredItems));
       
    }
    
    function bookableSlots() {
      let oph_val = $('#operatinghours').val();
      let slot_value = $('#slots').val();
      var mainFlag = false;
      if (oph_val!=null) {
        if (slot_value!==null) {
          mainFlag=true
        }
      }
      if(mainFlag){
        let alloperatinghours = calculate_Hours(oph_val, Number(slot_value));
        console.log(alloperatinghours)
      }
    }

    $("#operatinghours").on("change", function () {
      bookableSlots();
    });

    $("#slots").on("change", function () {
      bookableSlots();
    });

    function calculate_Hours(oph, slots) {
        let menu = document.getElementById('bookableHours');
        while (menu.firstChild) {
          menu.removeChild(menu.firstChild);
        }
        oph = oph.replace(/\s+/g, '').split('to');
        let start = Number(oph[0]);
        let end = Number(oph[1]);
        console.log(start, end);
        //["4 to 5 ","5  to 6 ","6  to 7 ","11  to 12 "]
        let mainoperatinghours = [];
        while (start != end) {
          let firstHalf = `${start}`;
          start = start + slots;
          if (slots == 2) {
            if (start - end == 1) {
              break;
            }
          }
          let secondHalf = `${start}`;
          mainoperatinghours.push(`${firstHalf}:00 to ${secondHalf}:00`);
        }
        for (let i = 0; i < mainoperatinghours.length; i++) {
          const element = mainoperatinghours[i];
          $('#bookableHours').append(
            `<li>
                ${mainoperatinghours[i]}
              </li>`
          )
        }

        return mainoperatinghours;
      }

  </script>


</footer>

</html>